<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p06-Spikester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18A1BB5C1C9691CC0001AFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A1BB751C9691CC0001AFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A1BB801C9691CC0001AFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
